@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
body {
  margin: 0%;
  max-width: 375PX;
  margin: auto;
}

Header, .menu, .filter, #container, .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  Flex-direction: column;
  width: 100%;
  margin: 0;
}

.nounderline {
  text-decoration: none;
}

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

.btn {
  display: inline-block;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  width: 58.13%;
  cursor: pointer;
  border: 0;
  text-align: center;
  border-radius: 50px;
  padding-left: 20px;
  padding-right: 20px;
  margin: auto;
  -webkit-transition: 400ms;
  transition: 400ms;
  background: -webkit-gradient(linear, left top, left bottom, from(#f77dd4), to(#ab65fa));
  background: linear-gradient(#f77dd4, #ab65fa);
}

.btn:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#ab65fa), to(#f77dd4));
  background: linear-gradient(#ab65fa, #f77dd4);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.btn p {
  font-weight: 700;
  font-size: 19px;
}

.card__palette {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -o-object-fit: contain;
     object-fit: contain;
  margin-left: 20px;
  margin-right: 20px;
}

.card__palette img {
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  max-height: 175px;
}

.search-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.search-bar {
  background-color: #C0C0C0;
}

.menu, #container {
  background-color: #DCDCDC;
}

.footer {
  background-color: #696969;
}

.filter__select {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 285px;
}

.menu h1, .menu h2 {
  text-align: center;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 285px;
}

.menu h1, .menu h2 {
  text-align: center;
}
/*# sourceMappingURL=main.css.map */