footer  {
    background-color: rgb(31, 31, 31);
}
.footer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 89.33%;
    height: 195px;
    margin: auto;
}

.logo__footer {
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
    filter: invert(1);
    img{
        width:30%
    }
}

.link {
    display: flex;
    flex-wrap: nowrap;
    ul{
        margin: 0%;
        padding: 0%;
        line-height: 1.5;
    }
    li {
        list-style-type: none;
    }
    a {
        color: #fff;
        text-decoration: none;
        font-size: 1rem;
        font-family: 'Roboto', sans-serif;
    }
    span {
        padding-right: 10px;
        font-size: 0.8rem;
    }
}
