.logo {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__header {
      width: 100%;
      text-align: center;
      box-shadow: 0 3px 1px #b3b3b3;
      img {
        height: 63px;
        width: 65%;
        padding-top: 12px;
      }
    }
  }
  