.btn {
    display: inline-block;
    flex-wrap: nowrap;
    width: 58.13%;
    margin: auto;
    background: linear-gradient(#f77dd4, #ab65fa);
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    padding: 1rem;
    border-radius: 10rem;
    transform: scale(1);
    transition: transform 400ms;
    &:hover {
        transform: scale(1.15);
    }
    a {
        color: #fff;
        text-decoration: none;
    }
}

.btn-filter {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin: 0;
    background: linear-gradient(#f77dd4, #ab65fa);
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    padding: 0.5rem;
    padding-right: 4rem;
    border-radius: 1.5rem;
    transform: scale(1);
    transition: transform 400ms;
    &:hover {
        transform: scale(1.15);
    }
    i{
        padding-left: 10px;
        padding-right: 20px;
    }
    i:hover{
        color: #ab65fa;
    }
}