@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
body {
  margin: 0%;
  max-width: 375PX;
  margin: auto; }

header {
  display: flex;
  flex-direction: column; }

h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700; }

h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700; }

h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300; }

p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400; }

.btn {
  display: inline-block;
  flex-wrap: nowrap;
  width: 58.13%;
  margin: auto;
  background: linear-gradient(#f77dd4, #ab65fa);
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  padding: 1rem;
  border-radius: 10rem;
  transform: scale(1);
  transition: transform 400ms; }
  .btn:hover {
    transform: scale(1.15); }
  .btn a {
    color: #fff;
    text-decoration: none; }

.btn-filter {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  margin: 0;
  background: linear-gradient(#f77dd4, #ab65fa);
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  padding: 0.5rem;
  padding-right: 4rem;
  border-radius: 1.5rem;
  transform: scale(1);
  transition: transform 400ms; }
  .btn-filter:hover {
    transform: scale(1.15); }
  .btn-filter i {
    padding-left: 10px;
    padding-right: 20px; }
  .btn-filter i:hover {
    color: #ab65fa; }

.card__palette {
  width: auto;
  display: flex;
  flex-direction: column;
  object-fit: cover;
  margin-left: 20px;
  margin-right: 20px; }
  .card__palette img {
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    max-height: 175px; }
  .card__palette figcaption {
    background-color: #fff;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em; }

.name {
  display: flex;
  flex-direction: column; }
  .name h3, .name p {
    margin: 0%; }

.search-bar {
  height: 50px;
  display: flex;
  background-color: #ebebeb; }

.search-bar__form {
  display: flex;
  flex-direction: row;
  margin: auto;
  padding-right: 30px; }
  .search-bar__form i {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 1.2em; }

.search-bar__form--field input {
  background-color: transparent;
  border: 0;
  width: 100%;
  font-size: 17px; }

#container {
  background-color: #DCDCDC; }

.filter__select {
  display: flex;
  flex-direction: row; }

.menu {
  display: flex;
  flex-direction: column;
  height: 285px;
  background-color: #DCDCDC;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-around;
  padding-bottom: 30px; }
  .menu h1 {
    font-size: 29px;
    text-align: center;
    margin: 0;
    padding-left: 1rem;
    padding-right: 1rem; }
  .menu h2 {
    font-size: 18px;
    text-align: center;
    margin: auto; }

.logo {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .logo__header {
    width: 100%;
    text-align: center;
    box-shadow: 0 3px 1px #b3b3b3; }
    .logo__header img {
      height: 63px;
      width: 65%;
      padding-top: 12px; }

footer {
  background-color: #1f1f1f; }

.footer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 89.33%;
  height: 195px;
  margin: auto; }

.logo__footer {
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  filter: invert(1); }
  .logo__footer img {
    width: 30%; }

.link {
  display: flex;
  flex-wrap: nowrap; }
  .link ul {
    margin: 0%;
    padding: 0%;
    line-height: 1.5; }
  .link li {
    list-style-type: none; }
  .link a {
    color: #fff;
    text-decoration: none;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif; }
  .link span {
    padding-right: 10px;
    font-size: 0.8rem; }

#asidefilter {
  background-color: #305725;
  border: solid 1px blue; }
  #asidefilter h3 {
    margin: 0%;
    font-size: 30px; }

.filter {
  display: flex;
  flex-direction: row;
  align-items: center; }
  .filter__num {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    color: white;
    background-color: #9356DC; }
  .filter .nounderline {
    text-decoration: none;
    color: white; }

/*# sourceMappingURL=style.css.map */
