#container {  
    background-color: $color-back-dark;
}

.filter__select {
    display: flex;
    flex-direction: row;
}

.menu {
    display: flex;
    flex-direction: column;
    height: 285px;
    background-color: #DCDCDC;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
    padding-bottom: 30px;
    h1 {
        font-size: 29px;
        text-align: center;
        margin: 0;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    h2 {
        font-size: 18px;
        text-align: center;
        margin: auto;
    }
}


