.btn {
    display: inline-block;
    flex-wrap: nowrap;
    width: 58.13%;
    margin: auto;
    background: linear-gradient(#f77dd4, #ab65fa);
    @include boxshadow;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    cursor: pointer;
    padding: 1rem;
    border-radius: 10rem;
    transform: scale(1);
    transition: transform 400ms;
    &:hover {
        transform: scale(1.15);
        box-shadow: 0 4px 12px #757575;
    }
    a {
        color: #fff;
        text-decoration: none;
    }
}

.btn-filter {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    width: auto;
    height: 62px;
    margin-left: 31px;
    margin-bottom: 25px;
    background: $color-back-light;
    cursor: pointer;
    margin-right: 20px;
    padding: 0.5rem;
    padding-right: 4rem;
    border-radius: 1.5rem;
    @include boxshadow;
    &:hover {
        background-color: $color-primary-light;
        color: #ab65fa;
    }
    i{
        padding-left: 22px;
        padding-right: 20px;
        margin-left: 5px;
    }
}

.btn-check {
    font-size: 21px;
    color: #FFF;
}

.checkbox {
display: none;
&:hover {
    display: flex;
    width: 15%;
    background-color: $color-tertiary;
    border-bottom-right-radius: 1em;
    border-top-right-radius: 1em;
    align-content: center;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
}
