.card {
    &__1 a {
        @include text-deco-none;
    }
    &__2 a {
        @include text-deco-none;
    }
    &__3 a {
        @include text-deco-none;
    }
    &__4 a {
        @include text-deco-none;
    }
}

.card__palette{
    width: auto;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    @include boxshadow;
    img {
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    max-height: 175px;
    object-fit: cover;
    }
    figcaption {
        display: flex;
        justify-content: space-between;
        height: 57px;
        padding-top: 15px;
        background-color: #fff;
        border-bottom-left-radius: 1em;
        border-bottom-right-radius: 1em;
    }
}  

.name {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    h3, p {
        margin: 0%;
        color: black;
        line-height: 1.4rem;
    }
    h3 {
        font-size: 1.2rem;
    }
    p {
        font-size: 1.1rem;
    }
}

.picto_home {
    padding-right: 20px;
    font-size: 1.375rem;
    color: $color-primary;
}