.card {
    &__1 a {
        @include text-deco-none;
    }
    &__2 a {
        @include text-deco-none;
    }
    &__3 a {
        @include text-deco-none;
    }
    &__4 a {
        @include text-deco-none;
    }
}

.card__palette{
    width: auto;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 1em;
    @include boxshadow;
    figcaption {
        display: flex;
        justify-content: space-between;
        height: 57px;
        padding-top: 15px;
        @include desktop-only {
            min-height: 75px;
        }
    }
} 

.popup {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    img {
        width: 100%;
        position: relative;
        border-top-left-radius: 1em;
        border-top-right-radius: 1em;
        max-height: 175px;
        object-fit: cover;
    }
    span {
        position: absolute;
        z-index: 999;
        background-color: $color-tertiary;
        font-family: 'Roboto', sans-serif;
        font-weight: 700;
        padding: 3px 10px;
        margin-top: 10px;
        margin-right: 10px;
    }
}

.name {
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    h3, p {
        margin: 0%;
        color: black;
        line-height: 1.4rem;
    }
    h3 {
        font-size: 1.2rem;
    }
    p {
        font-size: 1.1rem;
    }
}

.picto_home {
    padding-right: 20px;
    font-size: 1.375rem;
    color: $color-primary;
    @include desktop-only {
        margin-bottom: 55px;
    }
}