%fill {
  transition: 0.8s 0.2s ease;
}

.picto_home {
  display: flex;
  justify-content: center;
  align-items: center;
    .ihover {
      position: absolute;
      opacity: 0;
      &:hover {
        @include gradient;
        @include hoverlike;
        @extend %fill;
      }
    }
    .outline {
      opacity: 1;
      &:hover {
        opacity: 0;
      }
    }
  }

.title__picto {
  display: flex;
  justify-content: center;
  align-items: center;
    .ihover {
      position: absolute;
      opacity: 0;
      &:hover {
        @include gradient;
        @include hoverlike;
        @extend %fill;
      }
    }
    .outline {
      opacity: 1;
      &:hover {
        opacity: 0;
      }
    }
  }
