.search-bar {
    height: 50px;
    display: flex;
    background-color: $color-back-dark;
}

.search-bar__form {
    display: flex;
    flex-direction: row;
    margin: auto;
    i {
        padding-right: 10px;
        padding-left: 10px;
        font-size: 1.2em;
        color:rgb(0, 0, 0);
    }
}

.search-bar__form--field {
    input {
    background-color: transparent;
    border: 0;
    width: 100%;
    font-size: 17px;
    }
    input:focus {
        outline: none;
   }
}



