@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


body {
    font-family: 'Roboto', sans-serif;
    color: $colour-primary;
    font-size: 2rem;
    font-weight: 100;
    line-height: 1.7;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    font-size: 5rem;
    font-style: italic;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 2rem;
}

p {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 2rem;
}


