section {
    display: flex;
    flex-direction: column;
    background-color: $color-back-light;
    padding-bottom: 70px;
    h3 {
    margin-left: 20px;
    margin-top: 50px;
    margin-bottom: 10px;
    font-size: 30px;
    }  
}

.section {
    display: flex;
    flex-direction: column;
    @include desktop-only {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    } 
}

.filter__select {
    display: flex;
    flex-direction: row;
}

.menu {
    display: flex;
    flex-direction: column;
    height: 285px;
    background-color: $color-back-light;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
    margin: auto;
    padding-bottom: 30px;
    padding-right: 20px;
    padding-left: 20px;
    h1 {
        @include menu-h1-h2;
        font-size: 29px;
        margin-top: 50px;
    }
    h2 {
        @include menu-h1-h2;
        font-size: 18px;
        margin-top: 0%;
    }
}

#asidefilter {
    display: flex;
    flex-direction: column;
    @include desktop-only {
        flex-direction: row;
        justify-content: center;
      }
      @include tablet {
        flex-direction: row;
        justify-content: space-evenly;
      }
}

aside {
    h3 {
        margin-left: 20px;
        margin-top: 50px;
        margin-bottom: 25px;
        @include desktop-only {
            margin: auto;
            margin-top: 25px;
            margin-bottom: 25px;
        }
    }
    @include desktop-only {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        margin: auto;
        margin-bottom: 20px;
}
}




