.card__palette{
  margin-left: 20px;
  margin-right: 20px;
}

.card__palette--img {
  width: 100%;
  display: flex;
  flex-direction: column;
  object-fit: cover;
  max-height: 175px;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}