header {
    @include desktop-only {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      background: transparent;
      margin-right: 20px;
    }
}

section {
    display: flex;
    flex-direction: column;
    background-color: $color-back-light;
    padding-bottom: 70px;
    h3 {
    margin-left: 20px;
    margin-top: 50px;
    margin-bottom: 10px;
    font-size: 30px;
    }  
}

.filter__select {
    display: flex;
    flex-direction: row;
}

.menu {
    display: flex;
    flex-direction: column;
    height: 285px;
    background-color: $color-back-light;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
    padding-bottom: 30px;
    h1 {
        @include menu-h1-h2;
        font-size: 29px;
        margin-top: 50px;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    h2 {
        @include menu-h1-h2;
        font-size: 18px;
        margin-top: 0%;

    }
}

#asidefilter {
    display: flex;
    flex-direction: column;
    h3 {
    margin-left: 20px;
    margin-top: 50px;
    margin-bottom: 25px;
    font-size: 30px;
    }
}



