footer  {
    background-color: $color-back-footer;
}
.footer {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    width: 89.33%;
    margin: auto;
    @include desktop-only {
        margin-right: 25px;
        margin-left: 25px;
    }
}

.logo__footer {
    padding-top: 1.25em;
    padding-bottom: 1.25em;
    color: #fff;
    filter: invert(1);
    img{
        width:120px
    }
}

.link {
    display: flex;
    flex-wrap: nowrap;
    margin-bottom: 50px;
    ul{
        margin: 0%;
        padding: 0%;
        line-height: 1.5rem;
    }
    li {
        list-style-type: none;
    }
    a {
        color: #fff;
        text-decoration: none;
        font-size: 1rem;
        font-family: 'Roboto', sans-serif;
    }
    span {
        padding-right: 10px;
        font-size: 0.8rem;
    }
}
