.header-home {
  @include desktop-only {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 80px;
    width: 100%;
    justify-content: space-between;
    box-shadow: 0 4px 12px #b3b3b3;
  }
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include desktop-only {
      width: 250px;
      box-shadow:none;
    }

    &__header {
      display: flex;
      justify-content: center;
      width: 100%;
      text-align: center;
      align-items: flex-end;
      padding-bottom: 10px;
      padding-top: 18px;
      box-shadow: 0 1px 5px #3e3e3e73;
      @include desktop-only {
        box-shadow:none;
      img {
        height: 63px;
        width: 65%;
        padding-top: 15px;
        z-index: -1;
        @include desktop-only {
          padding: 0%;
          width: 90%;
          margin-top: -4px;
      }
    }
  }
}
    
    &__menu {
      width: 70%;
      text-align: center;
      margin-bottom: 10px;
    }
  }



.logob {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 2px #565656bd;
  &__menu {
    width: 90%;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 15px;
    img {
      width: 160px;
    }
  }
}

  .fa-arrow-left:before {
    display: flex;
    content: "\f060";
    font-size: 1.1em;
    margin-top: 6px;
    color: black;
}




  